{{!步骤条}}
<nav class="navbar navbar-default" role="navigation">
	<ul class="nav" id="nav"> 
		<li>
			<span>1.投放广告</span>
		</li>
		
		<li>
			<span>2.广告投放确认</span>
		</li>
		
		<li>
			<span>3.等待大厅</span>
		</li>
		
		<li>
			<span>4.订单选取</span>
		</li>
		
		<li>
			<span class="last">5.结束选订单</span>
		</li>
	</ul>
</nav>

