//步骤条
<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li class="active">1.投放广告</li>
		<li>2.广告投放确认</li>
		<li>3.等待大厅</li>
		<li>4.订单选取</li>
		<li>5.结束选订单</li>
	</ul>
</nav>


