{{!步骤条}}
<nav class="navbar navbar-default" role="navigation">
	<ul class="nav"> 
		<li>1.投放广告</li>
		<div class="triangle_left"></div>
		<li>2.广告投放确认</li>
		<div class="triangle_left"></div>
		<li>3.等待大厅</li>
		<div class="triangle_left"></div>
		<li>4.订单选取</li>
		<div class="triangle_left"></div>
		<li>5.结束选订单</li>
	</ul>
</nav>

