{{!步骤条}}
<nav class="navbar navbar-default" role="navigation">
	<ul class="nav"> 
		<li>
			<span class="active">1.投放广告</span>
			<div class="s"></div>
			<div class="stt active_1"></div>
		</li>
		
		<li>
			<span>2.广告投放确认</span>
			<div class="s"></div>
		    <div class="stt"></div>
		</li>
		
		<li>
			<span >3.等待大厅</span>
			<div class="s"></div>
			<div class="stt"></div>
		</li>
		
		<li>
			<span>4.订单选取</span>
			<div class="s"></div>
			<div class="stt"></div>
		</li>
		
		<li>
			<span>5.结束选订单</span>
		</li>
	</ul>
</nav>

