//步骤条
#navStep{
	width: 70%;
	float: left;
	.ads-nav{
		width: 100%;
		height: 40px;
		.navbar{
			width: 100%;
			height:100%;
			border: 0;
			ul{
				width: 100%;
				height: 37px;
				line-height: 37px;
				background: url('/imgs/game/adsAndOrder/imgs/bg_over1.jpg') repeat-x;
				li{
					width: 20%;	
					height: 100%;
					color: #fff;
					font-size:14px;
					font-weight: bold;
					text-align: left;
					letter-spacing: 2px;	
					float: left;
					background-position: 100% 0;
					background-image: url('imgs/game/adsAndOrder/imgs/arrow_out1.png');
					background-repeat: no-repeat;
					span{
						width: 89%;
						height: 100%;
						text-align: center;
						display: inline-block;
					}
					&:last-child{
						background: none;
						span{
							width: 100%;
						}
					}
					span.active1{
						background:url('imgs/game/adsAndOrder/imgs/bg_over.jpg') repeat-x;
					}
					span.active2{
						background:url('imgs/game/adsAndOrder/imgs/bg_out.jpg') repeat-x;
					}
				}
				li.active{
					background-image:url('imgs/game/adsAndOrder/imgs/arrow_over1.png');
					// background-position: 0 0;
					background-repeat: no-repeat;
					span{
						width: 87%;
					}
					.last{
						width: 100%;
					}
				}
				li.actived{
					background:url('imgs/game/adsAndOrder/imgs/arrow_next_over.jpg') 100% center;
					background-repeat: no-repeat;
				}
				li.prev_actived{
					background: url('imgs/game/adsAndOrder/imgs/arrow_out.jpg') 100% center;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

#step{
	width: 70%;
	float: left;
	margin-top: 10px;

	.panel{
		border-color: #e3e3e3;
		.panel-heading{
			background-color: #e3e3e3;
			form{
				margin-top: 0;
				color:#fff;
			}
			.item{
				color: #FFF;
			}
			span{
				margin-top: 0;
				margin-right: 20px;
				font-size:15px;
				color:#989898;
			}
		}
		.step-four{
			padding-left: 5%;
			padding-right: 5%;
		    text-align: center;
		    form{
		    	margin-bottom: 20px;
		    }
		    ul{
		    	width: 100%;
		    	height: auto;
                li{ 
                    width: 310px;
                    height: 185px;
                    background: #FEFF99 url('./imgs/game/adsAndOrder/imgs/icon_circle.jpg') no-repeat left top;
                    text-align: left;
                	float: left;
     				margin:23px 13px 23px 13px;
                	table{
                		margin-top: 3px;
                		width: 100%;
                		height: 100%;
                		tr{
                			height: 26px !important;
                			text-align: left;
                			td{
								height: 26px !important;
                				text-align: left;
                				text-indent: 35px;
                				button{
                					margin-left: 111px;
                					background-color: #355A86;
                					width: 90px;
                					height: 25px;
                					color: #fff;
                					padding:0 15px;
                					border: 0;
                				}
                				button.checked{
                					background-color: yellow;
                				}
                			}
                		}
                	}
                }
		    }
		}
		.panel-body{
			h4{
				margin-top: 0;
				color:#989898;
			}
			select{
				width:120px;
				height:34px;
			}
			.findButton{
				margin-left: 10px;
			}
			table{
				margin-top: 15px;
				th{
					text-align: center;
					color: #989898;
					font-size: 16px;
					font-weight: normal;
				}
				tr{
					height: 33px;
					td{
						.putInto{
							width: 200px;
							height:33px;
							padding-left: 5px;
						}
						.sure{
							width: 80px;
							height: 33px;
						}
					}
				}
			}
			.next{
				position: absolute;
				right: 20px;
				a{
					color: #fff;
					border-color: #fff;
				}
			}
			.back{
				a{
					color: #fff;
					border-color: #fff;
				}
			}
			.userList{
				margin: 0;
				padding: 0;
				li{
					float: left;
					height: 180px;
					width: 20%;
					padding: 20px 20px 0px 0px;
					img{
                        width: 100%;
                        height: 80%;
					}
					h4{
						text-align: center;
						margin-top: 5px;
					}
				}
			}

	    }
	    .panel-five{
	    	padding: 30px 0px 0px 250px;
	    	height: 300px;
	    	.ok{
	    		font-size: 40px;
	    		color: red;
	    		text-indent: 110px;
	    	}
	    	h3{
	    		margin:25px 0px 10px 60px;
	    		font-weight: normal;
	    	}
	    	h4{
	            font-size: 14px;
	            color:#989898;
	            a{
	            	text-decoration: underline;
	            	color: #989898;
	            }
	    	}
	    }
	   
    }
}
.stepFour{
	width: 143%;
	height: auto;
	.panel{
		width: 100%;
		height: auto;
		.panel-heading{
			width: 100%;
			height: 40px;
			padding: 5px 15px;
			line-height: 40px;
			h4{
				padding:0 !important;
				margin: 0;
				width:100%;
				height:100%;
				border:#e3e3e3;
				background-color: #e3e3e3;
				line-height: 100%;
				button.finish{
					margin-left: 230px;
					height: 28px;
				}
				button.check{
					margin-left: 30px;
					height: 28px;
				}
			}
		}
		.panel-body{
			select{
				height: 30px;
			}
		}
	}
}

#talkRoom{
	width: 30%;
	margin-left: 800px;
	padding-left: 25px;
	.talk{
		width: 100%;
		height: auto;
		border-radius: 3px;
		border: 1px solid #989898;

		form{
				legend{
					background-color: #333333;
					text-align: center;
					color:#fff;
					line-height: 40px;
					width: 100%;
					font-size: 14px;
					height: 40px;
					letter-spacing: 5px;
					margin-bottom: 0;
					border-bottom: 0;
				}
				.screen{
					width: 100%;
					height: auto;
					padding: 3px 3px;
					
					.display{
					
					overflow-y: auto;
					overflow-x: hidden;
					width: 100%;
					height: 400px;
					resize:none;
					span{
						color: red;
					}
					}
					.sdoin{
						display: block;
						width: 100%;
						height:90px;
						.putInto{
							width: 78%;
							height: 90px;
							border: 1px solid #989898;
							resize:none;
							float: left;
							padding: 4px 4px;
							margin-right: 5px;
						}
						.send{
							width: 20%;
							height: 90px;
							background-color: #333333;	
							color: #fff;
							font-size: 18px;

							font-weight: bold;
							border: 0;	
							display:block;


						}
					}
				}
		}
	}

}







