<div class="index__billboard">
  <h1>Hello <span>World</span></h1>
  <a href="#login/signin">Go to Sign in.</a>
  <select>
  {{#each this}}
	<option>{{this.name}}</option>
  {{/each}}
  </select>
</div>
