<div class="zong">
	<div class="kuang">	
		<img src="imgs/game/materialIntro/imgs/R1.png" width="100" height="100"class="photos">
	
		<div class="data">
		<div class="topic" id="countss">库存数量：<span id="pucount">2</span></div>
		<div class="topic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单价：<span id="pusprice">1</span></div>
		<div class="topic">等待周期：<span id="watiday">1</span></div>
		</div>
		<div class="select">购买数量：&nbsp;&nbsp;<input type="text"name="count" value="" /></div>
		<div class="select">存放仓库：&nbsp;&nbsp;<input type="text"name="where" value="1号仓库" /></div>
		<button>购买</button>
	</div>
	<div class="kuang">	
		<img src="imgs/game/materialIntro/imgs/R2.png" width="100" height="100"class="photos">
	
		<div class="data">
		<div class="topic" id="countss">库存数量：<span id="pucount">1</span></div>
		<div class="topic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单价：<span id="pusprice">1</span></div>
		<div class="topic">等待周期：<span id="watiday">1</span></div>
		</div>
		<div class="select">购买数量：&nbsp;&nbsp;<input type="text"name="count" value="" /></div>
		<div class="select">存放仓库：&nbsp;&nbsp;<input type="text"name="where" value="1号仓库" /></div>
		<button>购买</button>
	</div>
	<div class="kuang">	
		<img src="imgs/game/materialIntro/imgs/R3.png" width="100" height="100"class="photos">
	
		<div class="data">
		<div class="topic" id="countss">库存数量：<span id="pucount">0</span></div>
		<div class="topic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单价：<span id="pusprice">1</span></div>
		<div class="topic">等待周期：<span id="watiday">2</span></div>
		</div>
		<div class="select">购买数量：&nbsp;&nbsp;<input type="text"name="count" value="" /></div>
		<div class="select">存放仓库：&nbsp;&nbsp;<input type="text"name="where" value="1号仓库" /></div>
		<button>购买</button>
	</div>
	<div class="kuang">	
		<img src="imgs/game/materialIntro/imgs/R4.png" width="100" height="100"class="photos">
	
		<div class="data">
		<div class="topic" id="countss">库存数量：<span id="pucount">0</span></div>
		<div class="topic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单价：<span id="pusprice">1</span></div>
		<div class="topic">等待周期：<span id="watiday">2</span></div>
		</div>
		<div class="select">购买数量：&nbsp;&nbsp;<input type="text"name="count" value="" /></div>
		<div class="select">存放仓库：&nbsp;&nbsp;<input type="text"name="where" value="1号仓库" /></div>
		<button>购买</button>
	</div>
</div>	