   <form class="form-inline">
		<span>查询条件:</span>
		<select class="form-control">
			<option>1</option>
			<option>1</option>
			<option>1</option>
		</select>
		<span>年</span>
		<select class="form-control">
			
		</select>
		<span>月</span>
		
		<button class="btn btn-info check">查询</button>
	</form>
  
    <table class="table table-striped table-bordered table-condensed">
    	<tr>
	   		<td>项目</td>
	   		<td>数值</td>
	    </tr>

    </table>
