
 <ul class="nav nav-tabs" id="navbar">
    <li class="active"><a href="#admin/ownerEquity/companyView">按企业查看</a></li>
    <li><a href="#admin/ownerEquity/gameGroupView">按游戏组查看</a></li>
 </ul>

<div class="select-group">
  <div id="companyView">
     <div class="selGameGroup"></div>

     <div class="selGroup"></div>

     <div class="selYear"></div>
     
     <button class="btn btn-info">查看所有者权益</button>
  </div>

  <div id="gameGroupView">
     <div class="selGameGroup_2"></div>
     
     <div class="selYear_2"></div>
     
     <div class="selCycle"></div>
     
     <button class="btn btn-info">查看所有者权益</button>
  </div>

   

   <hr>
</div>




