
 <ul class="nav nav-tabs" id="navbar">
    <li class="active"><a href="javascript:;">按企业查看</a></li>
    <li><a href="javascript:;">按游戏组查看</a></li>
 </ul>

<div class="select-group">
  <div id="companyView">
     <div class="selGameGroup_c"></div>

     <div class="selGroup"></div>

     <div class="selYear_c year"></div>
     
     <button class="btn btn-info">查看所有者权益</button>
  </div>

  <div id="gameGroupView">
     <div class="selGameGroup_g"></div>
     
     <div class="selYear_g year"></div>
     
     <div class="selCycle"></div>
     
     <button class="btn btn-info">查看所有者权益</button>
  </div>

   

   <hr>
</div>




