
 <div class="popup-house-build">
    <div class="build-content">
       <div class="content-title">
            <p>新建厂房</p>
            <button type="button" class="close" aria-hidden="true">×</button>
       </div>
       <div class="content-container">
           <div>
                <p>新建厂房的类型&nbsp;:</p>
                <input type="text">
                <div id="divList"></div>
           </div>
           <div>
               <p>厂房的地址&nbsp;:</p>
               <input type="text">
               <div id="divList"></div>
           </div>
           <div>
               <p>支付修建所用的时间&nbsp;: </p>
               <input type="text">
           </div>
           <div>
               <p>开始建造厂房的时间&nbsp;:</p>
               <input type="text">
           </div>
           <button>确认创建</button>
       </div>
    </div>
</div>