{{!步骤5 结束选取订单}}

<div class="panel panel-default">
    <div class="panel-heading">
		<h4>结束选择订单&nbsp;&nbsp;&nbsp;>> </h4>
    </div>
    <div class="panel-body panel-five">
    	<div class="glyphicon glyphicon-ok ok"></div>
    	<h3>你已成功选择订单</h3>
    	<h4>查看订单信息，请进入<a href="#game/viewOrder">销售管理>查看订单</a>！</h4>
    </div>
</div>

