
.finished-content {
    margin-top: 42px;
    margin-left: 94px;
    img {
        width: 125px;
        height: 125px;
    }
}
.finished-img {
    display: block;
    position: relative;
    float: left;
    margin-right: 80px;
    text-align: center;
    img {
        opacity: 0.9;
    }
    em {
        display: block;
        width: 82px;
        height: 75px;
        color: #FF3300;
        border: 4px solid #FF3300;
        border-radius: 50%;
        position: absolute;
        top: -26px;
        right: -40px;
        padding-top: 13px;
        font-weight: bold;
        font-size: 17px;
    }
}
#finished-failed {
    img {
        opacity: 0.5;
    }
    em {
        border-color: #999999;
        color: #999999;
        line-height: 75px;
        padding-top: 0;
    }
}
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.rearch-ing {
    margin-top: 55px;
    .show-ul {
        height: 90px;
        background-color: #F4F4F3;
        margin-top: 10px;
        .last-btn {
            width: 126px;
            height: 90px;
            line-height: 90px;
        }
        img {
            width: 76px;
            height: 76px;
        }
        li:nth-child(1) {
            margin-left: 13px;
        }
    }
}
.rearch-new {
    margin-top: 22px;
}
.finished {
    .title-line {
        em {
            width:  89%;
        }
    }
}