{{!步骤1 投放广告}}
    
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h4>广告投放&nbsp;&nbsp;&nbsp;<span class="item"> >> </span></h4>
    	</div>

    	<div class="panel-body">
    	   {{!下拉菜单}}
    	   <form class="form-inline">

		       <span>请选择市场：</span>
		       <select class="form-control">
		     
					<option>请选择市场：</option>
		       		{{#each market}}
		       			<option>{{marketName}}</option>
		    	    {{/each}}
		       
		       </select>
	    	   <button class="btn btn-info findButton">查询</button>
	    	   <button type="button" class="next btn btn-info">
		    	   <a href="#game/adsAndOrder/step2">已投放完毕，下一步</a>
		       </button>
           </form>
    	   <table class="table table-striped table-bordered table-condensed">
	    	   	<tr>
	    	   		<th>编号</th>
	    	   		<th>产品</th>
	    	   		<th>投放广告费(单位：万)</th>
	    	   		<th>操作</th>
	    	   	</tr>
	    	   
	    	   	<tr>

	    	   		<td class="productId">{{productId}}</td>
	    	   		<td>{{productName}}</td>
	    	   		<td class="money">
	    	   			<input type="text" class="putInto" placeholder="0.0">
	    	   		</td>
	    	   		<td>
	    	   			<button type="button" class="btn btn-info sure">提交</button>
	    	   		</td>
	    	   	</tr>
	    	   	
	    	   	<tr>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   	</tr>
	    	   	<tr>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   	</tr>
	    	   	<tr>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   	</tr>
	    	   	<tr>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   	</tr>
	    	   	<tr>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   		<td></td>
	    	   	</tr>
    	   </table>
		</div>
	</div>

