//步骤1 投放广告

    //面板
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h4>广告投放>></h4>
    	</div>
    	<div class="panel-body">
    	    //下拉框
    	    <div class="dropdown">
	    	    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    	    	<li></li>
	    	    	<li></li>
	    	    	<li></li>
	    	    	<li></li>
	    	    	<li></li>
	    	    </ul>
    	    </div>
			<table class="table tabled-striped">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			</table>
		</div>
	</div>

