<div class="">
	贷款状态：
	<select class="typess">
		<option>全部</option>
		<option></option>
		<option></option>
	</select>
	贷款状态：
	<select class="typess">
		<option>全部</option>
		<option></option>
		<option></option>
	</select>
	<button id="buttontype">查询</button>
</div>
<table>
	<tr>
		<td id="first">贷款编号</td>
		<td>贷款类型</td>
		<td>开始贷款时间</td>
		<td>最后还款时间</td>
		<td>贷款金额</td>
		<td>处理</td>
	</tr>
	<tr class="color">
		<td id="first">1464</td>
		<td>长期贷款</td>
		<td>1</td>
		<td>20</td>
		<td>20.0</td>
		<td>归还贷款</td>
	</tr>
	<tr>
		<td id="first">1465</td>
		<td>短期贷款</td>
		<td>1</td>
		<td>20</td>
		<td>20.0</td>
		<td>已还款</td>
	</tr>
	<tr class="color">
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="color">
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="color">
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="color">
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="color">
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="color">
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td id="first"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>