    <div class="title">
	    已开拓市场
    </div>
    <div class="row" id="developed">
	    <div class="col-md-2">
	        1
	    </div>

	    <div class="col-md-8">
	        1
	    </div>

	    <div class="col-md-2">
	        1
	    </div>

	</div>

    <div class="title">
	    开拓中市场
    </div>
	<div class="row" id="developing">
	    <div class="col-md-2">
	        1
	    </div>
	        
	    <div class="col-md-8">
	        1
	    </div>

	    <div class="col-md-2">
		    1
	    </div>

	</div>

    <div class="title">
	    未开拓市场
    </div>
	<div class="row" id="not_develop">
	    <div class="col-md-2">
	        1
	    </div>

	    <div class="col-md-8">
	        1
	    </div>

	    <div class="col-md-2">
		    1
	    </div>

	</div>