<div class="top-title">
    <span>{{title}}</span>&nbsp;&nbsp;
    <span>{{subTitle}}</span>
</div>
<div class="breadcrumb">
    <i class="glyphicon glyphicon-home"></i>
    <span>{{mainNav}}</span>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span>{{title}}</span>
</div>