
<div class="page-header">
  <i class="glyphicon glyphicon-menu-right"></i>
  <span>企业评价</span>
</div>

<div class="select-group">
   <div class="selModule">
   </div>

   <div class="selGameGroup">
   </div>

   <div class="selGroup">
   </div>

   <div class="selYear">
   </div>

   <button class="btn btn-info">查看企业权益</button>

   <hr>
</div>
<div id="view-comRate" class="view">
</div>




