@themeColor:#d9534f;

.article{
	position: relative;
}
.year_meeting{
	cursor: default;
	color: #222;
}
.detail{
	color: @themeColor;
	cursor: pointer;
}
.p-topic{
	color:#999;
}
.info{
	width: 50%;
	background-color: #999;
	height: auto;
	overflow: hidden;
	position: absolute;
	padding:10px 10px 10px 10px;
	bottom: 20px;
	right: 0;
}
.info_topic{
	color: @themeColor;
	font-weight:bold;
	font-size: 12px;
}