{{!步骤4 订单选取}}

<div class="panel panel-default">
     <div class="panel-heading">
    		<h4>订单选取&nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;第一次选单</h4>
     </div>
     <div class="panel-body step-four">
     	<h4>
     		<span>请选择市场：</span>
	     	<select class="markets">
	     		<option>本地市场</option>
	     		<option>区域市场</option>
	     		<option>国内市场</option>
	     		<option>亚洲市场</option>
	     		<option>国际市场</option>
	     	</select>

	     	<span>请选择产品：</span>
	     	<select class="products">
	     		<option>1</option>
	     		<option>2</option>
	     		<option>3</option>
	     		<option>4</option>
	     		<option>5</option>
	     		
	     	</select>

	     	<button type="button" class="btn btn-info">查询</button>
	    </h4>
	    <ul>
	    	<li>
		    	<div class="panel panel-default panel-item">
		    		<table class="table">
		    			<tr>
		    				<td>订单编号：</td>
		    			</tr>
		    			<tr>
		    				<td>市场：</td>
		    				<td>总计金额：</td>
		    			</tr>
		    			<tr>
		    				<td>产品：</td>
		    				<td>交货日期：</td>
		    			</tr>
		    			<tr>
		    				<td>数量：</td>
		    				<td>货款日期：</td>
		    			</tr>
		    			<tr>
		    				<td>单价：</td>
		    				<td>罚金率：</td>
		    			</tr>
		    			<tr>
		    				<td>特别说明：</td>
		    			</tr>
		    		</table>
		    	</div>
	    	</li>
	    	<li>
		    	<div class="panel panel-default">
		    		<table class="table">
		    			<tr>
		    				<td>订单编号：</td>
		    			</tr>
		    			<tr>
		    				<td>市场：</td>
		    				<td>总计金额：</td>
		    			</tr>
		    			<tr>
		    				<td>产品：</td>
		    				<td>交货日期：</td>
		    			</tr>
		    			<tr>
		    				<td>数量：</td>
		    				<td>货款日期：</td>
		    			</tr>
		    			<tr>
		    				<td>单价：</td>
		    				<td>罚金率：</td>
		    			</tr>
		    			<tr>
		    				<td>特别说明：</td>
		    			</tr>
		    		</table>
		    	</div>
	    	</li>
	    	<li>
		    	<div class="panel panel-default">
		    		<table class="table">
		    			<tr>
		    				<td>订单编号：</td>
		    			</tr>
		    			<tr>
		    				<td>市场：</td>
		    				<td>总计金额：</td>
		    			</tr>
		    			<tr>
		    				<td>产品：</td>
		    				<td>交货日期：</td>
		    			</tr>
		    			<tr>
		    				<td>数量：</td>
		    				<td>货款日期：</td>
		    			</tr>
		    			<tr>
		    				<td>单价：</td>
		    				<td>罚金率：</td>
		    			</tr>
		    			<tr>
		    				<td>特别说明：</td>
		    			</tr>
		    		</table>
		    	</div>
	    	</li>
	    	<li>
		    	<div class="panel panel-default">
		    		<table class="table">
		    			<tr>
		    				<td>订单编号：</td>
		    			</tr>
		    			<tr>
		    				<td>市场：</td>
		    				<td>总计金额：</td>
		    			</tr>
		    			<tr>
		    				<td>产品：</td>
		    				<td>交货日期：</td>
		    			</tr>
		    			<tr>
		    				<td>数量：</td>
		    				<td>货款日期：</td>
		    			</tr>
		    			<tr>
		    				<td>单价：</td>
		    				<td>罚金率：</td>
		    			</tr>
		    			<tr>
		    				<td>特别说明：</td>
		    			</tr>
		    		</table>
		    	</div>
	    	</li>
	    </ul>
     </div>
</div>