<thead>
  <tr>
	<th>
     <label>
       <input type="checkbox" name="checkbox" id="all"> <span>全选</span>
     </label>
    </th>
	<th>用户名ID</th>
	<th>姓名</th>
	<th>专业</th>
	<th>班级</th>
	<th>学号</th>
	<th>操作</th>
  </tr>
</thead>
<tbody></tbody>