<div class="finished">
    <h4>研发完成的产品</h4>
    <div class="finished-content">
        <div class="finished-img">
            <img src="imgs/game/materialIntro/imgs/P1.png">
            <em>已研发</br>成功</em>
        </div>
        <div class="finished-img">
            <img src="imgs/game/materialIntro/imgs/P2.png">
            <em>已研发</br>成功</em>
        </div>
        <div class="finished-img" id="finished-failed">
            <img src="imgs/game/materialIntro/imgs/P3.png">
            <em>未研发</em>
        </div>
        <div class="finished-img" id="finished-failed">
            <img src="imgs/game/materialIntro/imgs/P4.png">
            <em>未研发</em>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="finished">
    <h4>研发中的产品</h4>
    
</div>

<div class="finished">
    <h4>研发新的产品</h4>
    
</div>