<div class="finished">
    <div class="title-line">
        <h4>研发完成的产品</h4>
        <em></em>
    </div>
    <div class="finished-content">
        <div class="finished-img">
            <img src="imgs/game/materialIntro/imgs/P1.png">
            <em>已研发</br>成功</em>
        </div>
        <div class="finished-img">
            <img src="imgs/game/materialIntro/imgs/P2.png">
            <em>已研发</br>成功</em>
        </div>
        <div class="finished-img" id="finished-failed">
            <img src="imgs/game/materialIntro/imgs/P3.png">
            <em>未研发</em>
        </div>
        <div class="finished-img" id="finished-failed">
            <img src="imgs/game/materialIntro/imgs/P4.png">
            <em>未研发</em>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="finished rearch-ing">
    <div class="title-line">
        <h4>研发中的产品</h4>
        <em></em>
    </div>
    <ul class="show-ul">
        <li class="show-table-td">
            <img src="imgs/game/materialIntro/imgs/P3.png">
        </li>
        <li class="show-table-td">
            <p>产品名称</p>
            <em>P3</em>
        </li>
        <li class="show-table-td">
            <p>产品研发需要周期</p>
            <em>6</em>
        </li>
        <li class="show-table-td">
            <p>每期研发费用</p>
            <em>2.0</em>
        </li>
        <li class="show-table-td">
            <p>已完成研发周期</p>
            <em>2</em>
        </li>
        <li class="show-table-td">
            <p>开始研发时间</p>
            <em>1</em>
        </li>
        <li class="show-table-td">
            <p>当前状态</p>
            <em>正在研发</em>
        </li>
        <li class="last-btn" id="build-active">
            暂停研发
        </li>
    </ul>
</div>

<div class="finished rearch-ing rearch-new">
    <div class="title-line">
        <h4>研发新的产品</h4>
        <em></em>
    </div>
    <ul class="show-ul">
        <li class="show-table-td">
            <img src="imgs/game/materialIntro/imgs/P3.png">
        </li>
        <li class="show-table-td">
            <p>产品名称</p>
            <em>P4</em>
        </li>
        <li class="show-table-td">
            <p>产品研发需要周期</p>
            <em>6</em>
        </li>
        <li class="show-table-td">
            <p>每期研发费用</p>
            <em>3.0</em>
        </li>
        <li class="last-btn">
            开始研发
        </li>
    </ul>
</div>