.cont{
	width: 100%;
	height: auto;
	.productItem{
		margin-left: 10%;
		width: 80%;
		height: 155px;
		background-color: #355a86;
		.col-md-2,.col-md-1,.col-md-3,.col-md-9{
			height: 154px;
			.item{
				width: 70%;
				height:100%;
				background-color: #e3e3e3;
				img{
					width: 100px;
					height: 100px;
				}
				span{
					display: inline-block;
					width: 100px;
					height: 30px;
					font-size: 20px;
					color: #222;
					letter-spacing: 2px;
					margin-top: 23px;
				}
			}
		}
		.font{
			height: 154px;
			background: url(./imgs/game/productStock/imgs/arrow_one.gif) no-repeat;
		}
		.behind{
			height: 154px;
			background: url(./imgs/game/productStock/imgs/arrow_two.gif) no-repeat;
		}
	}
}