{{!聊天框}}

	<form>
		<legend>talk</legend>
		<div class="screen">
			<textarea disabled="disabled" class="display"></textarea>
		
			<div class="sdoin">
				<textarea class="putInto"></textarea>
			    <button type="button" class="send">发<br/>送</button>
			</div>
		</div>
	</form>