<div class="material-all">
    <h4>原料统计</h4>
    <div class="all-content">
        <div class="all-img">
            <div class="img-back">
                <img src="imgs/game/materialIntro/imgs/R1.png">
            </div>
            <p>
                ×<em class="R1-content">2</em>
            </p>
        </div>
        <div class="all-img">
            <div class="img-back">
                <img src="imgs/game/materialIntro/imgs/R2.png">
            </div>
            <p>
                ×<em class="R2-content">2</em>
            </p>
        </div>
        <div class="all-img">
            <div class="img-back">
                <img src="imgs/game/materialIntro/imgs/R3.png">
            </div>
            <p>
                ×<em class="R3-content">2</em>
            </p>
        </div>
        <div class="all-img">
            <div class="img-back">
                <img src="imgs/game/materialIntro/imgs/R4.png">
            </div>
            <p>
                ×<em class="R4-content">2</em>
            </p>
        </div>
    </div>
</div>

<div class="material-all material-struct">
    <h4>产品构成</h4>
    <div class="struct-container">
        <div class="struct-details struct-p1">
            <div class="struct-content">
                <div class="struct-content-imgs">
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R1.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R2.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R3.png">
                        <div>0</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R4.png">
                        <div>0</div>
                    </div>
                </div>
                <div class="arrow"></div>
            </div>
            <div class="struct-result">
                <div class="result-img">
                    <div id="img">
                        <img src="imgs/game/materialIntro/imgs/P1.png">
                    </div>
                    <p>成本价：1.0</p>
                </div>
            </div>
        </div>
        <div class="struct-details struct-p2">
            <div class="struct-content">
                <div class="struct-content-imgs">
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R1.png">
                        <div>0</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R2.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R3.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R4.png">
                        <div>0</div>
                    </div>
                </div>
                <div class="arrow"></div>
            </div>
            <div class="struct-result">
                <div class="result-img">
                    <div id="img">
                        <img src="imgs/game/materialIntro/imgs/P2.png">
                    </div>
                    <p>成本价：2.0</p>
                </div>
            </div>
        </div>
        <div class="struct-details struct-p3">
            <div class="struct-content">
                <div class="struct-content-imgs">
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R1.png">
                        <div>0</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R2.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R3.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R4.png">
                        <div>1</div>
                    </div>
                </div>
                <div class="arrow"></div>
            </div>
            <div class="struct-result">
                <div class="result-img">
                    <div id="img">
                        <img src="imgs/game/materialIntro/imgs/P3.png">
                    </div>
                    <p>成本价：3.0</p>
                </div>
            </div>
        </div>
        <div class="struct-details struct-p4">
            <div class="struct-content">
                <div class="struct-content-imgs">
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R1.png">
                        <div>0</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R2.png">
                        <div>1</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R3.png">
                        <div>2</div>
                    </div>
                    <div class="content-img">
                        <img src="imgs/game/materialIntro/imgs/R4.png">
                        <div>1</div>
                    </div>
                </div>
                <div class="arrow"></div>
            </div>
            <div class="struct-result">
                <div class="result-img">
                    <div id="img">
                        <img src="imgs/game/materialIntro/imgs/P4.png">
                    </div>
                    <p>成本价：4.0</p>
                </div>
            </div>
        </div>
    </div>
</div>