
<div class="title-select">
    <div class="title-button">
        请选择状态：<input type="text" placeholder="在建/建成/租用/全部">
        请选择市场：<input type="text" placeholder="本地/区域/国内/亚洲/国际" >
        <button class="inquire">查询</button>
        <button class="house build">新建厂房</button>
        <button class="house rent">租用厂房</button>
    </div>
</div>
<div class="house-status">
    <div class="house-build">
        <div class="house-show">
            <div class="show-img">

            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>已建成</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>残值</p>
                        <em>0.0</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>已完成建造周期</p>
                        <em>3</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>生产线数量</p>
                        <em>4/6</em>
                    </li>
                    <li class="last-btn" id="build-active">
                        <em>出售</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="house-hide">
            <table class="house-detail">
                <tr>
                    <td></td>
                    <td>
                        <p>手动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>半自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>全自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>柔性生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="house-build house-rent">
        <div class="house-show">
            <div class="show-img">

            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>已租用</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>残值</p>
                        <em>0.0</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>完工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>生产线数量</p>
                        <em>4/6</em>
                    </li>
                    <li class="last-btn">
                        <em>停止租用</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="house-hide" style="display: none;">
            <table class="house-detail">
                <tr>
                    <td></td>
                    <td>
                        <p>手动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>半自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>全自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>柔性生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="house-build house-building">
        <div class="house-show">
            <div class="show-img">

            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>修建中</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>建造厂房的付款方式</p>
                        <em>按期支付建造资金</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>完工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>生产线数量</p>
                        <em>4/6</em>
                    </li>
                    <li class="last-btn">
                        <em>暂停修建</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="house-hide" style="display: none;">
            <table class="house-detail">
                <tr>
                    <td></td>
                    <td>
                        <p>手动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>半自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>全自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>柔性生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="house-build house-stop">
        <div class="house-show">
            <div class="show-img">

            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>已停用</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>建造厂房的付款方式</p>
                        <em>按期支付建造资金</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>已完成建造周期</p>
                        <em>3</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <ul class="build-status">
                            <li class="show-ul-sub">
                                <p>总建造周期</p>
                                <em>4</em>
                            </li>
                            <li>
                                <p>能容纳生产线</p>
                                <em>6</em>
                            </li>
                        </ul>
                    </li>
                    <li class="last-btn">
                        <em>继续修建</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="house-hide" style="display: none;">
            <table class="house-detail">
                <tr>
                    <td></td>
                    <td>
                        <p>手动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>半自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>全自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>柔性生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <form>
                            <button class="inquire">查询</button>
                            <button class="inquire">转产</button>
                            <button class="inquire">配置</button>
                            <button class="inquire">出售</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>