
<div class="title-select">
    <div class="title-div">
        请选择状态：<input type="text" placeholder="在建/建成/租用/全部">
        请选择市场：<input type="text" placeholder="本地/区域/国内/亚洲/国际" >
        <button class="inquire">查询</button>
        <button class="house build">新建厂房</button>
        <button class="house rent">租用厂房</button>
    </div>
</div>
<div class="house-status">
    <div class="house-build">
        <div class="house-show">
            <div class="show-img">
                <img src="imgs/game/productManage/imgs/fac2.jpg">
            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>已建成</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>残值</p>
                        <em>0.0</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>已完成建造周期</p>
                        <em>3</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>生产线数量</p>
                        <em>4/6</em>
                    </li>
                    <li class="last-btn" id="build-active">
                        <em>出售</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="house-hide">
            <table class="house-detail">
                <tr>
                    <td class="first-td">
                        <img src="imgs/game/productManage/imgs/hand_line.jpg">
                    </td>
                    <td>
                        <p>手动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <div class="inquire">查看
                            <div class="btn-hover btnView-hover" style="display: none;"> 
                                <div class="view-detail view-top">
                                    <div class="view-detail-p">
                                        <p>在制作品已经完成的生产周期：1</p>
                                        <p>生产线当前价值：2.5</p>
                                    </div>
                                </div>
                                <div class="view-detail view-blow">
                                    <div class="view-detail-p">
                                        <p>安装周期：1</p>
                                        <p>安装每期所需费用：5.0</p>
                                        <p>转产周期：0</p>
                                        <p>转产每期所需费用：0.0</p>
                                        <p>生产效率：3</p>
                                        <p>生产线开始使用后每期维护所需费用：0.25</p>
                                        <p>生产线开始使用后每期的折旧费用：0.25</p>
                                        <p>残值数额：1.0</p>
                                        <p>出售生产线后资金到账的账期：1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inquire">转产
                            <div class="btn-hover btnConvers-hover" style="display: none;">
                                <div class="canvers-input">
                                    <p>转产产品：<input type="text"></p>
                                </div>
                                <button>确认转产</button>
                            </div>
                        </div>
                        <div class="inquire">配置
                            <div class="btn-hover btnMake"></div>
                        </div>
                        <div class="inquire">出售
                            <div class="btn-hover btnSell"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="first-td">
                        <img src="imgs/game/productManage/imgs/mid_auto_line.jpg">
                    </td>
                    <td>
                        <p>半自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <div class="inquire">查看</div>
                        <div class="inquire">转产</div>
                        <div class="inquire">配置</div>
                        <div class="inquire">出售</div>
                    </td>
                </tr>
                <tr>
                    <td class="first-td">
                        <img src="imgs/game/productManage/imgs/full_auto_line.jpg">
                    </td>
                    <td>
                        <p>全自动生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <div class="inquire">查看</div>
                        <div class="inquire">转产</div>
                        <div class="inquire">配置</div>
                        <div class="inquire">出售</div>
                    </td>
                </tr>
                <tr>
                    <td class="first-td">
                        <img src="imgs/game/productManage/imgs/fra_line.jpg">
                    </td>
                    <td>
                        <p>柔性生产线</p>
                    </td>
                    <td>
                        <p><em>编号：</em>PRO867</p>
                    </td>
                    <td>
                        <p><em>状态：</em>生产中</p>
                    </td>
                    <td>
                        <p><em>正在生产的产品：</em>P1</p>
                    </td>
                    <td>
                        <div class="inquire">查看</div>
                        <div class="inquire">转产</div>
                        <div class="inquire">配置</div>
                        <div class="inquire">出售</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="house-build house-rent">
        <div class="house-show">
            <div class="show-img">
                <img src="imgs/game/productManage/imgs/fac3.jpg">
            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>已租用</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>残值</p>
                        <em>0.0</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>完工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>生产线数量</p>
                        <em>4/6</em>
                    </li>
                    <li class="last-btn">
                        <em>停止租用</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="house-build house-building">
        <div class="house-show">
            <div class="show-img">
                <img src="imgs/game/productManage/imgs/fac1.jpg">
            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>修建中</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>建造厂房的付款方式</p>
                        <em>按期支付建造资金</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>完工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <ul class="build-status">
                            <li class="show-ul-sub">
                                <p>总建造周期</p>
                                <em>4</em>
                            </li>
                            <li class="show-ul-sub">
                                <p>能容纳生产线</p>
                                <em>6</em>
                            </li>
                        </ul>
                    </li>
                    <li class="last-btn">
                        <em>暂停修建</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="house-build house-stop">
        <div class="house-show">
            <div class="show-img">
                <img src="imgs/game/productManage/imgs/fac1.jpg">
            </div>
            <div class="show-message">
                <ul class="show-ul">
                    <li class="show-ul-li">
                        <p>状态</p>
                        <em>已停用</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房编号</p>
                        <em>MAK009</em>
                    </li>
                    <li class="show-ul-li">
                        <p>所在市场</p>
                        <em>本地市场</em>
                    </li>
                    <li class="show-ul-li">
                        <p>厂房类型</p>
                        <em>大厂房</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <p>建造厂房的付款方式</p>
                        <em>按期支付建造资金</em>
                    </li>
                    <li class="show-ul-li">
                        <p>开工时间</p>
                        <em>1</em>
                    </li>
                    <li class="show-ul-li length-mid">
                        <p>已完成建造周期</p>
                        <em>3</em>
                    </li>
                    <li class="show-ul-li length-long">
                        <ul class="build-status">
                            <li class="show-ul-sub">
                                <p>总建造周期</p>
                                <em>4</em>
                            </li>
                            <li class="show-ul-sub">
                                <p>能容纳生产线</p>
                                <em>6</em>
                            </li>
                        </ul>
                    </li>
                    <li class="last-btn">
                        <em>继续修建</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


</div>