<div class="finished authentic-finished">
    <div class="title-line">
        <h4>完成认证的ISO</h4>
        <em></em>
    </div>
    <div class="finished-content">
        <div class="finished-img" id="finished-failed">
            <img src="imgs/game/factory/imgs/9000.png">
            <em>未研发</em>
        </div>
        <div class="finished-img" id="finished-failed">
            <img src="imgs/game/factory/imgs/1400.png">
            <em>未研发</em>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="finished rearch-ing authentic-ing">
    <div class="title-line">
        <h4>认证中的ISO</h4>
        <em></em>
    </div>
    <ul class="show-ul">
        <li class="show-table-td">
            <img src="imgs/game/factory/imgs/9000.png">
        </li>
        <li class="show-table-td">
            <p>ISO认证名称</p>
            <em>PRODUCT9000</em>
        </li>
        <li class="show-table-td">
            <p>开发所需要周期</p>
            <em>6</em>
        </li>
        <li class="show-table-td">
            <p>每期开发费用</p>
            <em>2.0</em>
        </li>
        <li class="show-table-td">
            <p>已完成开发周期</p>
            <em>2</em>
        </li>
        <li class="show-table-td">
            <p>开始开发时间</p>
            <em>1</em>
        </li>
        <li class="show-table-td">
            <p>当前状态</p>
            <em>正在开发</em>
        </li>
        <li class="last-btn" id="build-active">
            暂停研发
        </li>
    </ul>
</div>

<div class="finished rearch-ing rearch-new authentic-ing">
    <div class="title-line">
        <h4>认证新的ISO</h4>
        <em></em>
    </div>
    <ul class="show-ul">
        <li class="show-table-td">
            <img src="imgs/game/factory/imgs/1400.png">
        </li>
        <li class="show-table-td">
            <p>ISO认证名称</p>
            <em>PRODUCT9000</em>
        </li>
        <li class="show-table-td">
            <p>开发所需要周期</p>
            <em>6</em>
        </li>
        <li class="show-table-td">
            <p>每期开发费用</p>
            <em>3.0</em>
        </li>
        <li class="show-table-td">
            <p>每期维护费用</p>
            <em>3.0</em>
        </li>
        <li class="last-btn">
            开始研发
        </li>
    </ul>
</div>