
<div id="top-nav" class="fixed">
    <div class="brand awesome-font">
        <p class="red">
            <a href="#game/index">ERP</a>
        </p>
    </div>
    <ul class="nav-notification clearfix">
        <li class="icon refresh">
            <a href="javascript:;">
                <i class="glyphicon glyphicon-repeat"></i>
            </a>
        </li>
        <li class="icon edit-info">
            <a href="javascript:;">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
        </li>
        <li class="icon tasks dropdown hidden-xs">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tasks"></i>
                <span class="notification-label bounceIn animation-delay5">4</span>
            </a>
            <ul class="dropdown-menu task dropdown-2">
                <li><a href="javascript:;">You have 4 tasks to complete</a></li>
                <li>
                    <a href="javascript:;">
                        <div class="clearfix">
                            <span class="pull-left">Bug Fixes</span>
                            <small class="pull-right text-muted">78%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width:78%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="clearfix">
                            <span class="pull-left">Software Updating</span>
                            <small class="pull-right text-muted">54%</small>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" style="width:54%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="clearfix">
                            <span class="pull-left">Database Migration</span>
                            <small class="pull-right text-muted">23%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="clearfix">
                            <span class="pull-left">Unit Testing</span>
                            <small class="pull-right text-muted">92%</small>
                        </div>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger " style="width:92%"></div>
                        </div>
                    </a>
                </li>
                <li><a href="javascript:;">View all tasks</a></li>
            </ul>
        </li>
        <li class="profile icon">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                <i class="glyphicon glyphicon-user"></i>
                <span class="details">xxx</span>
                <span class="details">xxxxxxx</span>
            </a>
        </li>
    </ul>
</div><!-- /top-nav-->
