	<h4>
		<span>请选择市场：</span>
{{!		<div class="dropdown open clearfix">
			<ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
				<li role="presentation"><a href="#" role="#" role="menuitem">本地市场</a></li>
				<li role="presentation"><a href="#" role="#" role="menuitem">区域市场</a></li>
				<li role="presentation"><a href="#" role="#" role="menuitem">国内市场</a></li>
				<li role="presentation"><a href="#" role="#" role="menuitem">亚洲市场</a></li>
				<li role="presentation"><a href="#" role="#" role="menuitem">国际市场</a></li>
			</ul>
		</div>}}
						<select>
							<option>本地市场</option>
							<option>区域市场</option>
							<option>国内市场</option>
							<option>亚洲市场</option>
							<option>国际市场</option>
						</select>
		<button type="button" class="btn btn-info find">查询</button>
	</h4>