

	<form class="form-inline">

		       <span>请选择市场：</span>
		       <select class="form-control">
		     
					<option>请选择市场</option>
		       		{{#each markets}}
		       			<option index="{{@index}}">{{marketName}}</option>
		    	    {{/each}}
		       
		       </select>
	    	   <button class="btn btn-info find">查询</button>
    </form>