		
<p class=".p-topic">订单状态：
	<select name="select" class="selects">
		<option>全部</option>
	</select>
</p>
<input id="check" type="button" value="查询"/>

<table width="1000" height="450"   align="center"  >
	<tr cellspacing="0">
		<td >订单编号</td>
		<td >市场</td>
		<td>交货日期</td>
		<td>产品</td>
		<td>数量</td>
		<td>单价</td>
		<td>总金额</td>
		<td>应收账期</td>
		<td>罚金率</td>
		<td>订单状态</td>
	</tr>
	<tr class="colors">
		<td width="100" height="30">104082</td>
		<td>本地市场</td>
		<td>8</td>
		<td>P1</td>
		<td>1</td>
		<td>4.0</td>
		<td>4.0</td>
		<td>2</td>
		<td>0.05</td>
		<td>未交货</td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr >
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr >
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<input class="pages"id="pagesone" type="button"value="1">
<input class="pages"type="button"value="2">
<input class="pages"type="button"value="3">