
<form class="signin__form form-horizontal well" role="form">
  {{#if errors}}
    <div class="alert alert-warning">
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  
  <div class="form-group">
    <label class="col-sm-1 control-label" for="name">Name</label>
    <div class="col-sm-11">
      <input id="name" class="form-control" name="name" type="text" placeholder="username">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label" for="password">Password</label>
    <div class="col-sm-11">
      <input id="password" class="form-control" name="password" type="password" placeholder="请输入密码">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label" for="identity">Role</label>
    <div class="col-sm-11">
      <input id="identity" class="form-control" name="identity" type="text" value="teacher">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label" for="checkcode">Code</label>
    <div class="col-sm-3">
      <input id="checkcode" class="form-control" name="checkcode" type="text">
    </div>
    <div class="col-sm-3">
      <a href="javascript:;">
        {{#if codePic}}
          {{this}}
        {{/if}}
      </a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
   </div>
</form>

<a href="#login/signup">Go to sign up.</a>