<div class="row productItem">

	<div class="col-md-2 font"><h3>一号仓库</h3></div>
	<div class="col-md-9">
		<div class="col-md-3 p1">
			<div class="item">
				<img src="./imgs/game/materialStock/imgs/small_R1.gif">
				<span>*&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="col-md-3 p2">
			<div class="item">
				<img src="./imgs/game/materialStock/imgs/small_R2.gif">
				<span>*&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="col-md-3 p3">
			<div class="item">
				<img src="./imgs/game/materialStock/imgs/small_R3.gif">
				<span>*&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="col-md-3 p4">
			<div class="item">
				<img src="./imgs/game/materialStock/imgs/small_R4.gif">
				<span>*&nbsp;&nbsp;</span>
			</div>
		</div>

	</div>
	<div class="col-md-1 behind"></div>

</div>