@import "node_modules/bootstrap/less/bootstrap";
@import (inline) "node_modules/nprogress/nprogress.css";

@import "application/styles";
@import "component/aside/styles";
@import "component/header/styles";
@import "component/breadcrumb/styles";
@import "component/header/endless";
@import "index/styles";
@import "admin/styles";
@import "game/year_meeting/main";
@import "game/allMarket/main";
@import "game/adsAndOrder/main";
@import "game/productManage/main";
@import "game/materialIntro/main";
@import "game/marketForest/main";
@import "game/authenticationManage/main";
@import "game/factory/main";
@import "game/viewOrder/main";
@import "game/postOrder/main";
@import "game/buyMaterial/main";
@import "game/materialOrder/main";
@import "game/applyLoan/main";
@import "game/loanInYear/main";
@import "game/loanManage/main";



html,
body,
.application {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Microsoft Yahei'
}
