@import "node_modules/bootstrap/less/bootstrap";
@import (inline) "node_modules/nprogress/nprogress.css";

@import "application/styles";
@import "component/aside/styles";
@import "component/header/styles";
@import "component/breadcrumb/styles";
@import "component/header/endless";
@import "index/styles";
@import "admin/styles";
@import "game/year_meeting/main";
@import "game/allMarket/main";
@import "game/adsAndOrder/main";
@import "game/productManage/main";
@import "game/materialIntro/main";
@import "game/marketForest/main";
@import "game/exit/main";
@import "game/authenticationManage/main";
@import "game/factory/main";
// <<<<<<< HEAD
@import "game/viewOrder/main";
@import "game/postOrder/main";
@import "game/buyMaterial/main";
@import "game/materialOrder/main";
@import "game/applyLoan/main";
@import "game/loanInYear/main";
@import "game/loanManage/main";

// =======
@import "game/productStock/main";
@import "game/materialStock/main";
@import "game/viewAccountingEntry/main";
@import "game/viewBalanceSheet/main";
@import "game/viewProfit/main";
@import "game/discount/main";
@import "game/checkMoney/main";
// >>>>>>> 60e9f501a1cda3f41e004c142d80f5d541781fd1


html,
body,
.application {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Microsoft Yahei'
}
