@import "node_modules/bootstrap/less/bootstrap";
@import (inline) "node_modules/nprogress/nprogress.css";

@import "application/styles";
@import "component/aside/styles";
@import "component/header/styles";
@import "component/breadcrumb/styles";
@import "component/header/endless";
<<<<<<< HEAD
@import "game/year_meeting/main";
@import "game/allMarket/main";
=======
@import "index/styles";
@import "admin/styles";
>>>>>>> 8f8567c71fc53b03e3a7c9bf773e1b119098b6ef

html,
body,
.application {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Microsoft Yahei'
}
