<div class="select_window">
	贷款类型：
	<select class="typess">
		<option>长期贷款</option>
		<option>短期贷款</option>
		<option>高利贷</option>
	</select>
	<button class="buttontype">选择</button>
</div>
<div class="containter">
	<div class="mainconter">
		<div class="world">贷款名称：<span class="types">长期贷款</span></div>
		<div class="world">&nbsp;&nbsp;&nbsp;年利率：<span class="rate">10.0%</span></div>
		<div class="world">贷款金额：&nbsp;<input type="text" value="10.0">万</div>
		<div class="world">贷款期限：
			<select class="typess">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			期
		</div>

	</div>
	<div class="explain">
		<p id="long">当期不能申请长期贷款</p>
		<p id="explains">说明：只有年初才能申请长期贷款。企业运营每期进行一次结算收取利息</p>
		
	</div>
	

	<button class="buttontype" id="shen">申请</button>
</div>
