		
<table width="1000" height="450"   align="center"  >
	<tr cellspacing="0">
		<td width="100" height="30">订单编号</td>
		<td width="100" height="30">市场</td>
		<td width="100" height="30">交货日期</td>
		<td width="100" height="30">产品</td>
		<td width="100" height="30">数量</td>
		<td width="100" height="30">单价</td>
		<td width="100" height="30">总金额</td>
		<td width="100" height="30">应收账期</td>
		<td width="100" height="30">罚金率</td>
		<td width="100" height="30">订单状态</td>
	</tr>
	<tr class="colors">
		<td width="100" height="30">104082</td>
		<td>本地市场</td>
		<td>8</td>
		<td>P1</td>
		<td>1</td>
		<td>4.0</td>
		<td>4.0</td>
		<td>2</td>
		<td>0.05</td>
		<td>未交货</td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr >
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr >
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="colors">
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td width="100" height="30"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<input class="pages"id="pagesone" type="button"value="1">
<input class="pages"type="button"value="2">
<input class="pages"type="button"value="3">